{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; </a>
  {% else %}
    <span>&laquo; </span>
  {% endif %}

  <span class="ml-1 mr-1">{{ paginator.page }}/{{paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &raquo;</a>
  {% else %}
    <span> &raquo;</span>
  {% endif %}
</div>
{% endif %}
