---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="section-content">
    <h2 class="categories-title">Categories:</h2>

    {% for category in site.categories %}
        <div class="section-title col-md-12 mt-4">
            <h2 id="{{ category[0] | replace: " ","-" }}">@<span class="text-capitalize">{{ category[0] }}</span></h2>

            <ul class="blog-date list">
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        <li class="list-item"> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
            </ul>
        </div>
    {% endfor %}
</div>
